body{
    font-family: 'Poppins','Serif';
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
  }

  #logo{
    width: 475px;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

a:visited{
    color: blue;
}

.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px; 
}

.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}


#logo{
  animation: mymove 5s; 
}

@keyframes mymove {
  from {width: 25px; opacity: 0;}
  to {width: 475px; opacity: 1;}
}



@media  screen and (min-width: 900px) {
  header{
    flex-direction: row;
    justify-content: space-between;

  }
  .nav_links{
    flex-direction: row;
    justify-content: flex-end;
  }

  .card{ 
    flex-basis: 250px;
  }

  
  body > header{
    position: sticky;
    top: 0;
    left: 0;
  }
}

@media screen and (prefers-reduced-motion){
  #logo{
    animation: none;
  }
}

@media print{ 
  body{
    background-image: none;
  }

  header{
    flex-direction: column;
  }

  nav{
    width: 100%;
  }
  .nav_links{
    flex-direction: row;
    justify-content: space-around;
  }

  .card{
    border: 2px solid #45ADDD;
    flex-basis: 325px;
  }

  .pricing{
    flex-wrap:nowrap;
    align-items:flex-end;
    flex-direction: row;
  } 

  .gallery{
    display: none;
  }

  .card ul li:nth-child(2)::after{
    content: "\1F44D";
  }
  
  
}

